windows/.config/spotify-tui/.spotify_token_cache.json
windows/.config/spotify-tui/client.yml
wsl/go/telemetry/local
windows/.config/dlv
windows/spotify-tui
windows/scoop
windows/.glaze-wm/errors.log
windows/.glaze-wm/errors.log
windows/.config/scoop
windows/.config/dlv
windows/.config/github-copilot
windows/.config/jgit
windows/.config/lazygit
windows/.config/scoop
windows/.glaze-wm
windows/.glzr/zebar/tmp-QzpcVXNlcnNcV2lsbGlhbVwuZ2x6clx6ZWJhclxib2lsZXJwbGF0ZS1yZWFjdC1idWlsZGxlc3M=/EBWebView
windows/.glzr/zebar/tmp-QzpcVXNlcnNcV2lsbGlhbVwuZ2x6clx6ZWJhclxib2lsZXJwbGF0ZS1zb2xpZC10cw==/EBWebView
windows/.glzr/zebar/tmp-QzpcVXNlcnNcV2lsbGlhbVwuZ2x6clx6ZWJhclxzdGFydGVy/EBWebView
windows/.glzr/glazewm/errors.log
wsl/.config/.cache
wsl/.config/.cache
wsl/.config/.config
wsl/.config/.local
wsl/.config/.ssh
wsl/.config/repos
wsl/.config/repos
wsl/.config/snap
wsl/.config/.bash_logout
wsl/.config/repos
wsl/.config/repos
wsl/.config/repos/dotfiles
wsl/.config/repos
wsl/.config/repos/dotfiles
ubuntu-and-wsl/.config/.cache
ubuntu-and-wsl/.config/.config/dconf
ubuntu-and-wsl/.config/.config/evolution/sources
ubuntu-and-wsl/.config/.config/gtk-3.0
ubuntu-and-wsl/.config/.config/ibus/bus
ubuntu-and-wsl/.config/.config/pulse
ubuntu-and-wsl/.config/.config/.gsd-keyboard.settings-ported
ubuntu-and-wsl/.config/.config/GNOME-xdg-terminals.list
ubuntu-and-wsl/.config/.config/ubuntu-xdg-terminals.list
ubuntu-and-wsl/.config/.config/user-dirs.dirs
ubuntu-and-wsl/.config/.config/user-dirs.locale
ubuntu-and-wsl/.config/.config/xdg-terminals.list
ubuntu-and-wsl/.config/.local
ubuntu-and-wsl/.config/.ssh
ubuntu-and-wsl/.config/dlv
ubuntu-and-wsl/.config/go/telemetry/local
ubuntu-and-wsl/.config/repos/dotfiles
ubuntu-and-wsl/.config/snap
ubuntu-and-wsl/.config/.bash_logout
ubuntu-and-wsl/go/telemetry/local
ubuntu-and-wsl/scripts
ubuntu/.config/.cache
ubuntu/.config/.local
ubuntu/.config/.ssh
ubuntu/.config/go/telemetry/local
ubuntu/.config/snap
ubuntu/.config/repos/dotfiles
ubuntu/archived/nvim
ubuntu/go/telemetry/local
ubuntu/.config/.bash_logout
